a span {
  font-size: 1.4rem;
  font-weight: 700;
}

a span:hover {
  transition: 0.3s;
  color: #7843E9;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  position: relative;
}

.nav-link:after {
  content: "";
  position: absolute;
  background-color: #7843E9;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.nav-link:hover {
  transition: 0.3s;
  color: #7843E9;
}

.nav-link:hover:after {
  width: 100%;
}

.navbar {
  position: sticky;
  top: 0;
}
