a span {
  font-size: 1.4rem;
  font-weight: 700;
}

a span:hover {
  transition: 0.3s;
  color: #7843e9;
}

.nav-link {
  position: relative;
}

.nav-link:after {
  content: "";
  position: absolute;
  background-color: #7843e9;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.nav-link:hover {
  transition: 0.3s;
  color: #7843e9;
}

.nav-link:hover:after {
  width: 100%;
}

.navbar {
  position: sticky;
  top: 0;
}

.navbar-toggler {
  border: 0;
}

.navbar-toggler:focus {
  box-shadow: none;
}

@media only screen and (max-width: 991.5px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .navbar-collapse {
    opacity: 0;
  }

  .navbar-collapse.show {
    opacity: 1;
    transition: all 1s;
  }
}
