<footer class="black-background">
    <div class="container pt-5 pb-2">
        <div class="row mb-5">
            <div class="col-md-8">
                <div class="d-flex mt-2">
                    <img src="assets/imgs/personal_logo_white.png" height="120" alt="Logo">
                    <div class="mx-4 w-50">
                        <h3>ÁNGEL DE LOS RÍOS</h3>
                        <p>A Fullstack Web Developer with a focus on creating exceptional digital experiences</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h3 class="mt-2">SOCIAL</h3>
                <div class="d-flex">
                    <a href="https://www.linkedin.com/in/%C3%A1ngel-alberto-de-los-r%C3%ADos-navarro-ba1532263/"
                        class="text-white"><i class="bi bi-linkedin"></i></a>
                    <a href="https://github.com/angel-dev-projects" class="text-white"><i
                            class="bi bi-github mx-4"></i></a>
                    <a href="contact" class="text-white"><i class="bi bi-envelope-at-fill"></i></a>
                </div>
            </div>
        </div>
        <div class="text-center border-top">
            <p class="mt-2 mb-0">Made by <a
                    href="https://www.linkedin.com/in/%C3%A1ngel-alberto-de-los-r%C3%ADos-navarro-ba1532263/"
                    class="text-white">Ángel de los Ríos</a></p>
        </div>
    </div>
</footer>